

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body {
  overflow-x: hidden;
}

.header .row{
  width: 100%;
  position: relative;


}
.header {
  width: 100%;
  height: 130px;
  padding: 60px 0 93px 0;
  z-index: 98;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width:100%;
  align-items: center;
}
.header-img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-img img {
  height: 20px;
  width: auto;
}

.header-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.header-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.nav-item button {
  border: none;
  background: none;
  color: #040404;
}
.nav-item a {
  color: black;
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
}
.header a:hover {
  color: #737171;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: rgb(175, 175, 176);
}
.navbar a {
  text-decoration: none;
  color: aliceblue;
}

.navbar a::after {
  content: "\2192";
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 50px;
  left: 10px;
  color: #ffffff;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0;
}
.navbar a:hover::after {
  opacity: 1;

  transition: 0.4s;
}
.navbar a:hover {
  margin-left: 15px;
  transition: 0.4s;
  color: #f3f3f3;
}

a{
  text-decoration: none !important;
}
ul{
  list-style-type: none;
  margin:0 !important;
  padding: 0 !important;
  padding-inline-start: 0 !important;
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
}

/* header section */

/* navbar start */
.nav-section{
  /* background-color: rgba(13, 212, 226, 0.553); */
  position: fixed;
  z-index: 10000;
  background-color: #fff;
  display: flex;
  justify-content: center;
  width:100%;
  
}
.nav-section-items{
  margin:0 114px;
  height:96px;
  /* width: 100%; */
  display: flex;  
  position: relative; 
  /* background-color: brown; */
}

.nav-menu{
  
  visibility: visible !important;
  transition: .7s cubic-bezier(0,1.77,.29,-0.58);
}
.main-menu{
  display: flex;
  align-items: center;
  justify-content:space-between;
  height:40px;
}
.main-menu-item{
  display: flex;
  align-items:center;
  transition: .5s;
  height:96px;
  width:auto;
  cursor:pointer;
  z-index: 99;
}
.main-menu-item .main-li-tag .main-a-tag{
  color:black ;
  transition: .5s;
  font-size:12px;
  font-family: "Catamaran", sans-serif;
  letter-spacing: 1px;  
}
.main-menu-item:hover .main-a-tag{
  color:#929292;
}
.home-li .main-menu-inline,
.pages-li .main-menu-inline{
  position: absolute;
  overflow: hidden;
  top:88px;
  width:20%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
  height:0;
  transition:.5s;
  z-index: 99;

}
.shop-li .main-menu-inline,
.elements-li .main-menu-inline{
  position: absolute;
  overflow: hidden;
  top:88px;
  left:25px;
  width:96%;
  background-color: rgb(0, 0, 0);
  display: flex;
  height:0;
  transition:.5s;
  z-index: 99;

}
.home-li .inline-list-item .inline-list-a-tag:not(:has(span)),
.pages-li .inline-list-item .inline-list-a-tag,
.shop-li  .shop-inline .inline-list-item .inline-list-a-tag,
.elements-li  .elements-inline .inline-list-item .inline-list-a-tag{
  color:#a5a5a5;
  left:20px;  
  margin-top:10px;
  font-size:14px;
  margin-left:0px;
  font-weight:200;  
  transition: .5s;
  font-family: "Catamaran", sans-serif;
  z-index: 99;
  /* background-color: rgba(13, 106, 123, 0.763); */
}
/* .shop-li  .shop-inline .inline-list-item .inline-list-a-tag{
  margin-top:3px !important;
} */

.home-li .inline-list-item:not(:has(span)):hover .inline-list-a-tag:not(:has(span)),
.pages-li .inline-list-item:hover .inline-list-a-tag,
.shop-li .inline-list-item:hover .inline-list-a-tag,
.elements-li .inline-list-item:hover .inline-list-a-tag{
  margin-left:25px;
}
.shop-li .shop-inline,
.elements-li .elements-inline{
  margin-left:40px !important;
}
.home-li .inline-list-item:not(:has(span)),
.pages-li .inline-list-item,
.shop-li .inline-list-item,
.elements-li .inline-list-item{
  position: relative;
  display: flex;
  /* overflow: hidden; */
  margin-top: 5px;
  align-items: center;
  padding:0px 0px 0 36px;
  font-size:16px;
  width:250px;
  margin-left:0;
  font-family: "Catamaran", sans-serif;
  /* background-color: aqua; */
  

}
.home-li .inline-list-item:not(:has(span)):hover .inline-list-a-tag,
.pages-li .inline-list-item:hover .inline-list-a-tag,
.shop-li .inline-list-item:hover .inline-list-a-tag,
.elements-li .inline-list-item:hover .inline-list-a-tag{
  color:white;
}
.inline-list-item .main-home{
  color:white;
  margin-left:36px;
  font-family: "Catamaran", sans-serif;
}
.inline-list-item  span{
  margin-right:10px;
}
.home-li .inline-list-item:not(:has(span))::before,
.pages-li .inline-list-item::before,
.shop-li .shop-inline .inline-list-item::before,
.elements-li .elements-inline .inline-list-item::before{
  content:'🡢';
  position: absolute;
  left:35px;
  font-size:0;
  color:rgb(255, 255, 255);
  display: none;
  /* transition: .5s; */
}
.shop-list-head{
  color:white;
  font-weight:bold;
  margin:30px 0 20px 0;
  text-transform:uppercase;
  font-size:12px;
  margin-left:38px;
  font-family: "Catamaran",sans-serif;
}

.home-li .inline-list-item:not(:has(span)):hover::before,
.pages-li .inline-list-item:hover::before,
.shop-li .shop-inline .inline-list-item:hover::before,
.elements-li .elements-inline .inline-list-item:hover::before{
  display: block;  
  font-size:16px;
  animation:arrowShow .5s ease;
}
@keyframes arrowShow {
  0%{
      left:25px
  }
  100%{
     left:35px;
  }
}
.main-menu-item:hover .home-list{
  height:500px;
}
.main-menu-item:hover .pages-list{
  height:550px;
}
.main-menu-item:hover .shop-list{
  height:450px;
}
.main-menu-item:hover .elements-list{
  height:400px;
}
.cross-hover-menu{
  display: none;
}
.cross-hover-menu img{
  width:40px;
  height:40px;
}



.card-btn {
  border: 0;
  background: 0;
  position: relative;
  z-index: 1;
}

.card-add {
  border: 2px solid black;
  padding: 100px 25px;
  width: 230px;
  height: 230px;
  background-color: #000000;
  color: #ffffff;
  position: absolute;
  top: 14%;
  right: 20%;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
  font-size: 13px;
}
.card-add.active {
  opacity: 1;
  transition: 0.4s;
}

.cartbtn-box a {
  text-decoration: none;
  background-color: #525252;
  color: white;
  padding: 7px 55px;
  font-size: 10px;
  margin-bottom: 20px;
}
.cartbtn-box button {
  border: 0;
  background-color: #2a2a2a;
  margin-bottom: 15px;
}
.viewcart,
.checkout {
  margin: 0 8px;
}

.menu-btn {
  border: 0;
  background: 0;
  position: relative;
  z-index: 1;
}

.dropdown {
  position: absolute !important;
  height: 750px;
  width: 600px;
  background-color: black;
  right: -100%;
  overflow: hidden;
  z-index: 99;
  transition: 0.4s;
  top: 0px;
}

.dropdown .col {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.dropdown i {
  margin: 40px 10px;
  color: aliceblue;
}

.dropdown.active {
  right: 0 !important;
  transition: 0.4s;
  position: absolute !important;
}

.close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 30px;
  color: aliceblue;
  background: none;
  border: none;
  cursor: pointer;
}

.close-button:focus {
  outline: none;
}
.close-button:hover {
  color: #979696;
}
.search-btn {
  border: 0;
  background: 0;
  position: relative;
  z-index: 1;
}

.search-dropdown {
  display: inline;
  color: #a1a1a1;
  border: 0;
  border-radius: 0;
  line-height: 40px;
  outline: 0;
  transition: color 0.2s ease-out;
  font-size: 14px;
  position: absolute;
  top: 15%;
  right: 10%;
  background-color: #000000;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 7px;
  width: 300px;
  z-index: 99;
  overflow: hidden;
  opacity: 0;
}
.search-dropdown.active {
  opacity: 1;
  transition: 0.4s;
}

.search-dropdown input {
  background-color: #040404;
  border: 0;
  color: #f3f3f3;
}

.login-container {
  position: relative;
}

.login-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #333;
}

.login-dropdown {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  width: 300px !important;
  opacity: 0;
}
.login-dropdown.active {
  opacity: 1;
  transition: 0.4s;
}

.form-toggle {
  display: flex;
  justify-content: center;
}
.login-toggle,
.register-toggle {
  background-color: #2a2a2a;
}
.login-form {
  height: 220px;
}

.register-form {
  display: none;
  height: 330px !important;
}
.register-form h6 {
  font-weight: 300;
  font-size: 12px;
  color: #5e5e5e;
}

.register-form a {
  text-decoration: none;
  color: #000000;
}
.login-dropdown form {
  text-align: center;
  margin: 40px 0 !important;
}

.login-dropdown form input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  width: 95%;
}
.form-check-input {
  width: 7px !important;
  margin: 0 20px;
  color: #333 !important;
  float: left;
}
.form-check-label {
  font-size: 10px;
  margin-left: -170px;
}
.login-form a {
  text-decoration: none;
  color: #333;
  font-size: 13px;
  margin: 10px 0 10px -120px !important;
}
.checkbox {
  margin-bottom: 20px;
}

.login-dropdown .form-toggle button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding: 10px 40px;
  cursor: pointer;
}

.login-dropdown form button {
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: none;
  padding: 10px 40px;
  cursor: pointer;
  margin: 10px 0 20px 0;
  width: 80%;
}

.login-container:hover .login-dropdown {
  display: block;
}

@keyframes slide-right-to-left {
  0% {
    transform: translateX(20%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}

.carousel-item h5,
.carousel-item p {
  animation: slide-right-to-left 1s ease;
  animation-fill-mode: forwards;
}
.carousel-item p {
  animation: slide-right-to-left 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.img2,
.img2-2,
.img1,
.img3 {
  opacity: 0;
}

.img1,
.img3 {
  animation: slide-up 1s ease;
  animation-fill-mode: forwards;
  opacity: 1;
}

.img2 {
  height: 600px !important ;
  animation: slide-down 1s ease;
  animation-fill-mode: forwards;
  opacity: 1;
}

.img2-2 {
  animation: slide-down 1s ease;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  opacity: 1;
}

.slider {
  margin-top: -97px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#carouselExampleCaptions {
  max-width: 1270px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.carousel-indicators {
  position: absolute;
  top: 50px !important;
  left: -220px !important;
  z-index: 1000 !important;
  display: flex;
  flex-direction: column;
}
.carousel-inner {
  position: relative;
  z-index: 98;
}
.line a {
  text-decoration: none;
  color: #9c9c9c;
}
.line {
  position: absolute;
  font-weight: 500;
  top: 35%;
  z-index: 97;
  margin-right: 10px;
  margin-left: -60px;
  color: #9c9c9c !important;
}
.line1,
.line2,
.line3 {
  margin-bottom: 50px;
  margin-right: 10px;
  z-index: 97;
  cursor: pointer;
}

.line1::after {
  content: "";
  position: absolute;
  z-index: 97;
  width: 70px;
  height: 2px;
  background-color: #9c9c9c;
  top: 5%;
  left: 100%;
}
.line2::after {
  content: "";
  position: absolute;
  z-index: 97;
  width: 70px;
  height: 2px;
  background-color: #9c9c9c;
  top: 39%;
  left: 100%;
}
.line3::after {
  content: "";
  position: absolute;
  z-index: 97;
  width: 70px;
  height: 2px;
  background-color: #9c9c9c;
  top: 72%;
  left: 100%;
}

.carousel-div {
  display: flex;
  align-items: center;
  color: rgb(0, 0, 0) !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  z-index: 97;
}

.carousel-indicators [data-bs-target] {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transition: opacity 0.6s ease;
}

.carousel-item {
  background-color: #f3f3f3;
  height: 600px;
}

.carousel-item img {
  float: right;
}

.carousel-item .img2,
.carousel-item .img2-2 {
  height: 400px;
}

.carousel-caption {
  width: 400px;
}

.carousel-item h5 {
  float: left;
  font-size: 30px;
  color: black;
  margin-left: 20px;
}

.carousel-item p {
  float: left;
  color: #000000;
  margin: 20px 0;
}

.img-div {
  width: 100%;
}
.img-div img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-top: 30px;
}
.custom-box h6 {
  position: absolute;
  top: 12%;
  left: 12%;
  font-weight: 400;
  font-size: medium;
}
.custom-box .content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 10px 0;
}
.custom-box .content .title {
  font-size: 15px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
}
.addbasket-btn-div .addbasket {
  border: none;
  outline: none;
  color: #777676;
  width: 100%;
  margin: 0 0 30px 0;
  font-size: 14px;
  background-color: #ffffff;
  cursor: pointer;
  font-weight: 500;
}

.custom-card {
  display: flex;
  flex-direction: column;
}
.products {
  padding: 2rem o;
  display: flex;
}
.custom-box .content .price {
  font-size: 15px;
  font-weight: 500;
  color: #888888;
  text-align: center;
  margin-top: -10px;
  position: absolute;
  top: 98%;
  left: 45%;
  transition: 0.4s;
  opacity: 1;
}

.custom-box {
  position: relative;
  display: inline-block;
  text-align: center;
}
.addbasket-btn-div {
  position: absolute;
  top: 95%;
  left: 15%;
  opacity: 0;
  transition: 0.4s;
}
.custom-box:hover .price {
  left: 85%;
  opacity: 0;
}
.custom-box:hover .addbasket-btn-div {
  opacity: 1;
  left: 39%;
}
.custom-card a {
  text-decoration: none;
  color: #ffffff;
  border: 1px solid black;
  background-color: black;
  font-size: 10px;
  padding: 3px 9px;
}
.custom-card i {
  color: #f3f3f3;
  border: 1 solid rgb(50, 49, 49);
  background-color: #2a2a2a;
  padding: 2px;
  font-size: 10px;
  padding: 6px 8px;
}
.custom-card .quick {
  position: absolute;
  top: 85%;
  left: 34%;
  opacity: 0;
  transition: 0.1s;
  display: flex;
  align-items: CENTER;
  cursor: pointer;
}
.custom-box:hover .quick {
  top: 83%;
  opacity: 1;
}

.quick-dropdown .col-lg-6 img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.quick-dropdown .col-lg-6 i {
  color: orange;
  margin: 25px 3px 30px 0;
  font-size: 13px;
}
.quick-dropdown .col-lg-6 p {
  font-size: 13px;
  line-height: 35px;
}
.quick-dropdown .col-lg-6 .price {
  font-weight: 400;
  font-size: 25px;
}
.quick-dropdown .col-lg-6 .content {
  padding: 30px 0;
}
.quick-dropdown {
  visibility: hidden;
  position: fixed;
  background-color: white;
  width: 60% !important;
  height: 66% !important;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.quick-dropdown.active {
  opacity: 1;
  visibility: visible;
}
#yith-quick-view-modal #yith-quick-view-content .summary form.cart,
.yith-quick-view.yith-modal #yith-quick-view-content .summary form.cart {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  margin: 0 0 40px;
}
.woocommerce-page .mkd-content label,
div.woocommerce label {
  color: #080808;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 4px;
}
.woocommerce-page .mkd-content .mkd-quantity-buttons .mkd-quantity-input,
div.woocommerce .mkd-quantity-buttons .mkd-quantity-input {
  position: relative;
  width: 27px;
  padding: 0;
  margin: 0;
  font-family: inherit;
  outline: 0;
}
.quick-dropdown form {
  width: 390px !important;
  display: flex;
  justify-content: space-between;
}
.mkd-quantity-buttons {
  display: flex;
  justify-content: space-between;
  width: 215px !important;
  border: 1px solid black;
  padding: 5px;
  color: #717070;
}
.mkd-quantity-input,
.woocommerce-page .mkd-content .mkd-quantity-buttons .mkd-quantity-label,
.woocommerce-page .mkd-content .mkd-quantity-buttons .mkd-quantity-minus,
.woocommerce-page .mkd-content .mkd-quantity-buttons .mkd-quantity-plus,
div.woocommerce .mkd-quantity-buttons .mkd-quantity-input,
div.woocommerce .mkd-quantity-buttons .mkd-quantity-label,
div.woocommerce .mkd-quantity-buttons .mkd-quantity-minus,
div.woocommerce .mkd-quantity-buttons .mkd-quantity-plus {
  display: inline-block;
  vertical-align: middle;
  color: #929292;
  background-color: transparent;
  border: 0;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
  width: 40px;
}
.quick-dropdown .cart button {
  padding: 8px 46px;
  color: whitesmoke;
  background-color: #000000;
}
.woocommerce-page
  .mkd-content
  a.added_to_cart
  .wc-forward:not(.added_to_cart):not(.checkout-button),
.woocommerce-page .mkd-content a.button,
.woocommerce-page .mkd-content button[type="submit"],
.woocommerce-page .mkd-content input[type="submit"],
div.woocommerce
  a.added_to_cart
  .wc-forward:not(.added_to_cart):not(.checkout-button),
div.woocommerce a.button,
div.woocommerce button[type="submit"],
div.woocommerce input[type="submit"] {
  font-family: inherit;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: auto;
  outline: 0;
  line-height: 30px;
  letter-spacing: 0.15em;
  font-weight: 700;
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  -webkit-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out;
  padding: 13px 46px;
  font-size: 12px;
  color: #fff;
  background-color: #080808;
  border: 2px solid transparent;
  padding: 7px 46px;
  cursor: pointer;
  z-index: 3;
  border-radius: 0;
}
.container-fluid {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  padding: 10px 90px !important;
  font-size: small;
  width: 300px;
}

.navbar-nav {
  display: flex;
  justify-content: space-between !important;
  width: 450px;
}

.navbar-expand-lg .container-fluid a {
  text-decoration: none;
  color: #959595;
  font-size: 13px;
  font-weight: 500;
}

.navbar-expand-lg .container-fluid a:hover {
  color: #000000 !important;
}

.customer-service {
  margin: 150px 0;
}
.customer-service h4 {
  font-size: medium;
  margin: 30px 0;
}

.customer-service a {
  text-decoration: none;
  font-size: small;
  color: rgb(152, 150, 150);
  line-height: 15px;
  position: relative;
  z-index: 1;
  padding: 0 5px;
}

.customer-service a::after {
  content: "\2192";
  position: absolute;
  font-size: 20px;
  width: 50px;
  height: 50px;
  top: 2px;
  left: 10px;
  color: #000000;
  z-index: -1;
  transform: translateX(-50%);
  opacity: 0;
}
.customer-service a:hover::after {
  opacity: 1;

  transition: 0.4s;
}
.customer-service a:hover {
  margin-left: 15px;
  transition: 0.4s;
  color: #040404;
}

.filter {
  width: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
}

.filter-dropdown ul {
  list-style: none;
  padding-left: 0 !important;
}
.filter-dropdown a {
  text-decoration: none;
  color: #9c9c9c;
  font-size: 15px;
  line-height: 30px;
}
.filter-dropdown {
  display: flex;
  justify-content: space-around;
  color: #ffffff;
  transition: color 0.2s ease-out;
  position: absolute;
  top: 110%;
  right: 5%;
  background-color: #000000;
  width: 400px;
  height: 300px;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  padding: 3% 1%;
}
.filter-dropdown.active {
  opacity: 1;
  transition: 0.4s;
}

.footer .row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #ffffff;
  margin-top: 150px;
}
.footer h4 {
  font-size: small;
}

.footer a {
  text-decoration: none;
  color: black;
  margin: 20px;
}
.footer span {
  font-size: smaller;
}
.footer .left-side {
  display: flex;
  justify-content: end;
  align-items: center;
}
.fixed{padding-bottom: 100px;
padding-right: 20px;}
.fixed-bottom {
  float: right !important;
}

.fixed a {
  background-color: black;
  color: aliceblue;
  float: right;
  width: 50px;
  height: 50px;
  justify-content: center;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 999999;

}

.fixed i::after {
  content: "\2191";
  position: absolute;
  width: 0;
  height: 0;
  top: 0;
  left: 50%;
  background-color: rgb(0, 0, 0);
  color: #ffffff;
  justify-content: center;
  display: flex;
  align-items: center;
  z-index: 999;
  transform: translateX(-50%);
  opacity: 0;
}
.fixed i:hover::after {
  width: 50px;
  height: 50px;
  opacity: 1;
}
